:root {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}
body {
  font-family: "Raleway", sans-serif;
}
.block {
  padding: 80px 0;
}
.block-head {
  text-align: center;
  margin-bottom: 40px;
  &__title {
    color: #606060;
    font-weight: 700;
    text-transform: uppercase;
    display: inline-block;
    position: relative;
    padding: 0 20px;
    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      display: block;
      width: 82px;
      height: 1px;
      background: #e1e1e1;
    }
    &::before {
      right: 100%;
    }
    &::after {
      left: 100%;
    }
  }
}

.title-in {
  color: #606060;
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
}
.text-in {
  color: #7a7a7a;
  font-size: 14px;
  font-weight: 500;
  line-height: 25px;
}

.header {
  background: #373737;
  position: sticky;
  top: 0;
  z-index: 100;
  margin-bottom: 80px;

  // .header__inner

  &__inner {
    height: 10vh;
    display: flex;
    align-items: center;
  }
}
.nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.burger {
  display: none;
  border: none;
  background: none;
  outline: none;
  width: 1.875em;
  height: 1.875em;

  span {
    display: block;
    height: 3px;
    width: 100%;
    background: #414141;
    width: 100%;
    height: 2px;
    position: relative;
    &::after,
    &::before {
      content: "";
      display: block;
      width: inherit;
      height: 2px;
      background: inherit;
      position: absolute;
      transition: all 0.3s ease;
    }
    &::after {
      transform: translateY(-8px);
    }
    &::before {
      transform: translateY(8px);
    }
  }
}
.menu {
  display: flex;
  align-items: center;
  position: relative;
  &::before{
    content: "";
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    display: block;
    width: 82px;
    height: 1px;
    background: #e1e1e1;
    left: 100%;
  }
  &::after{
    content: "";
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    display: block;
    width: 82px;
    height: 1px;
    background: #e1e1e1;
    right: 100%;
  }

  // .menu__item

  &__item {
    list-style: none;
  }

  // .menu__link

  &__link {
    text-decoration: none;
    font-size: 13px;
    font-weight: 800;
    color: #ffffff;
    text-transform: uppercase;
    padding: 0 22px;
    transition: color 0.3s ease;
    &_active {
      color: #1abb9c;
    }
    &:hover {
      color: #1abb9c;
    }
  }
}



.main-slider {
  .slides {
    overflow: hidden;
    position: relative;
    .slick-arrow {
      font-size: 0;
      width: 45px;
      height: 45px;
      background-color: #ffffff;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 1;
      border: none;
      outline: none;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      &::before {
        display: block;
        content: " ";
        background-image: url("../img/intro-slider/arrow.svg");
        width: 8px;
        height: 13px;
      }
      &.slick-prev {
        left: 20px;
      }
      &.slick-next {
        right: 20px;
        &::before {
          transform: rotate(180deg);
        }
      }
    }
  }
  .slide {
    height: 550px;
    list-style: none;
    position: relative;
    outline: none;
    float: left;
    &__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    // .slide__figure

    &__content {
      position: absolute;
      bottom: 50px;
      left: 50px;
    }
    &__title {
      color: #606060;
      font-size: 20px;
      font-weight: 500;
      line-height: 22px;
      text-transform: uppercase;
      background: #fdfdfd;
      margin-bottom: 5px;
      padding: 20px 20px;
    }
    &__subtitle {
      color: #606060;
      font-size: 16px;
      font-weight: 500;
      line-height: 22px;
      background: #fdfdfd;
      padding: 20px 20px;
      .span {
        color: #1abb9c;
      }
    }
  }
}

.do {
  & .row {
    display: flex;
    justify-content: space-between;
    margin: 0 -15px;
    flex-wrap: wrap;

    & .col {
      list-style: none;
      width: 25%;
      padding: 0 15px;

      .card {
        border: 1px solid #e1e1e1;
        position: relative;
        text-align: center;
        padding: 50px 20px;

        &::before {
          content: "";
          display: block;
          position: absolute;
          border: 1px solid #e1e1e1;
          top: 4px;
          bottom: 4px;
          left: 4px;
          right: 4px;
          z-index: -1;
        }

        .icon {
          margin-bottom: 30px;
        }

        .title-in {
          margin-bottom: 20px;
        }
      }
    }
  }
}

.process {
  background-image: url(../img/process/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  & .block-head {
    &__title {
      color: #d0d0d0;
      &::before,
      &::after {
        background: #d0d0d0;
      }
    }
  }
  .title-in {
    color: #dddddd;
  }
  .text-in {
    color: #d0d0d0;
  }
  & .row {
    display: flex;
    padding: 0 50px;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
    & .col {
      display: block;
      list-style: none;
      text-align: center;
      width: 25%;
      &:first-child {
        .icon-block {
          background: #1abb9c;
        }
      }

      & .icon-block {
        border: 2px solid #1abb9c;
        width: 90px;
        height: 90px;
        border-radius: 50%;
        margin-bottom: 23px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

.projects {
  .row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
  }
  .col {
    list-style: none;
    width: 33.333%;
    padding: 0 15px;
    .card {
      text-align: center;
      &:hover {
        .img {
          transform: scale(1.1);
        }
      }
      .figure {
        margin-bottom: 21px;
        overflow: hidden;
      }
      .img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        vertical-align: middle;
        transition: all 0.3s ease;
      }
      .title-in {
        a {
          color: inherit;
          text-decoration: none;
          transition: color 0.3s ease;
          &:hover {
            color: #1abb9c;
          }
        }
      }
      .subtitle {
        display: block;
        color: #1abb9c;
        font-size: 12px;
        font-weight: 500;
        line-height: 26px;
      }
      .text-in {
      }
    }
  }
}

.reviews {
  background-image: url(../img/reviews/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  .row {
    overflow-x: hidden;
    position: relative;
    .slick-dots {
      li {
      }
    }
  }

  .block-head {
    &__title {
      color: #d0d0d0;
    }
  }

  .col {
    outline: none;
    float: left;
    list-style: none;
    text-align: center;
    .text-in {
      display: inline-block;
      max-width: 930px;
      margin-bottom: 22px;
      color: #d8d8d8;
    }
    .title-in {
      color: #1abb9c;
      font-size: 12px;
    }
  }
}

.journal {
  .row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
  }
  .col {
    list-style: none;
    padding: 0 15px;
    width: 33.333%;
    &:hover {
      .img {
        transform: scale(1.1);
      }
    }
    .card {
      .figure {
        margin-bottom: 22px;
        overflow: hidden;
      }
      .img {
        vertical-align: middle;
        transition: all 0.3s ease;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .head {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
      }
      .date {
        // .date__num
        border: 1px solid #b1b1b1;
        padding: 10px 12px;
        display: inline-block;
        font-weight: 500;
        margin-right: 15px;
        color: #7a7a7a;

        &__num {
          font-size: 20px;
          line-height: 20px;
        }

        // .date__month

        &__month {
          font-size: 12px;
          line-height: 12px;
        }
      }
      .title-block {
        display: inline-block;
      }
      .title-in {
        a {
          color: inherit;
          text-decoration: none;
          transition: color 0.3s ease;
          &:hover {
            color: #1abb9c;
          }
        }
      }
      .subtitle {
        color: #1abb9c;
        font-size: 12px;
        font-weight: 500;
      }

      .text-in {
      }
    }
  }
}

.footer {
  background: #373737;

  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 -35px;
    padding: 70px 0;
    .col {
      width: 290px;
      padding: 0 35px;
      list-style: none;
      .card {
      }
    }
    .text-in {
      transition: color 0.3s ease;
      &:not(:first-child) {
        margin-bottom: 35px;
      }
    }
    .post-link {
      text-decoration: none;
      color: #cacaca;
      display: block;
      &:not(:first-child) {
        margin-top: 20px;
      }
      &:hover .text-in {
        color: #1abb9c;
      }
    }
    .date {
      color: #cacaca;
      font-size: 12px;
      font-weight: 500;
      line-height: 25px;
    }
    .title-in {
      color: #f0f0f0;
      margin-bottom: 26px;
    }
    .contacts {
      margin-top: 34px;
      .item {
        list-style: none;
        margin-bottom: 10px;
      }
      .link {
        text-decoration: none;
        color: #cacaca;
        font-size: 14px;
        font-weight: 500;
        display: flex;
        align-items: flex-start;
        padding-left: 30px;
        position: relative;
        transition: color 0.3s ease;
        &:hover {
          color: #1abb9c;
        }

        .icon {
          width: 16px;
          height: 16px;
          fill: #cacaca;
          position: absolute;
          left: 0;
        }
      }
      .maps {
      }
      .phone {
      }
      .email {
      }
    }
  }
  &-bottom {
    padding: 40px 0;
    background: #333333;
    .text-in {
      color: #cacaca;
    }
  }
}

@import "media";

